@model MyPortfolio.Models.About

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Hakkımda Güncelle</h2>
<br />
@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post))
{
    @Html.HiddenFor(y => y.AboutID, new { @class = "form-control" })
    <div>
        <label>Çalışma Başlığı</label>
        @Html.TextBoxFor(k => k.Title, new { @class = "form-control" })
    </div>
    <div>

        <label>Çalışma Açıklaması</label>
        @Html.TextBoxFor(y => y.Detail, new { @class = "form-control" })

    </div>
    <div>
        <label>Çalışma Resim Yolu</label>
        @Html.TextBoxFor(k => k.ImageUrl, new { @class = "form-control" })
    </div>


    <br />
    <button class="btn btn-success">Güncelle</button>


}