@model List<MyPortfolio.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Kategori Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Kategori  Numarası</th>
        <th>Kategori Adı</th>
        <th>Durumu</th>

        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {


        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>

            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-primary">Kategori Ekle</a>
