
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Ad</th>
            <th>Kategori Durumu</th>
            <th>Detaylar</th>
        </tr>

        <tr>
            <td>1</td>
            <td>İçecek</td>
            <td>True</td>
            <td><a href="#" class="btn btn-primary">Detay</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Meyve Sebze</td>
            <td>True</td>
            <td><a href="#" class="btn btn-primary">Detay</a></td>

        </tr>
    </table>
</div>