@model List<MyPortfolio.Models.Category>
@{
    ViewBag.Title = "CategoryCreate";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Çalışma Ekle</h2>
<br />
<form action="/Category/CreateCategory" method="post">

    <div>
        <label>Kategori Adı</label>
        <input type="text" name="CategoryName" required class="form-control" />
    </div>
    <div>
        <label>Kategori Durumu</label>
        <input type="text" required name="CategoryStatus" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Ekle</button>
</form>