
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Yeni Kategori Ekleme Alanı</h3>

<div class="container">




    <label>Kategori Adı</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Değeri</label>
    <input type="text" class="form-control" />
    <br />

    <button class="btn btn-success">Kategoriyi Oluştur</button>

</div>
