@model MyPortfolio.Models.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Çalışma Güncelle</h2>
<br />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    @Html.HiddenFor(y => y.CategoryID, new { @class = "form-control" })
    <div>
        <label>Çalışma Başlığı</label>
        @Html.TextBoxFor(k => k.CategoryName, new { @class = "form-control" })
    </div>
    <div>

        <label>Çalışma Açıklaması</label>
        @Html.TextBoxFor(y => y.CategoryStatus, new { @class = "form-control" })

    </div>



    <br />
    <button class="btn btn-success">Güncelle</button>


}