@model MyPortfolio.Models.Experience

@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2>Deneyim Ekle</h2>
<br />
<form action="/Experience/CreateExperience" method="post">
    <div>
        <label>Deneyim Başlığı</label>
        <input type="text" required name="Title" class="form-control"  />
    </div>
    <div>
        <label>Deneyim Açıklaması</label>
        <textarea name="Description" minlength="5" rows="4" class="form-control"></textarea>
    </div>
    <div>
        <label>Deneyim Şirket Adı</label>
        <input type="text" name="CompanyName" maxlength="20" required class="form-control"  />
    </div>
    <div>
        <label>Deneyim Çalışma Tarihi</label>
        <input type="text" name="WorkDate" maxlength="10" class="form-control"  />
    </div>

    <br />
    <button type="submit" class="btn btn-success">Ekle</button>
</form>