
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Admin/Index.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Yetenek Değeri Grafiği</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function drawChart(skills) {
            const chartData = [['Yetenek', 'Değer']];
            skills.forEach(skill => {
                chartData.push([skill.Name, skill.Value]);
            });

            const dataTable = google.visualization.arrayToDataTable(chartData);
            const options = {
                title: 'Yetenek Değerleri',
                hAxis: { title: 'Yetenekler' },
                vAxis: { title: 'Değer' },
                legend: 'none'
            };

            const chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
        }

        $(document).ready(function() {
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(loadSkills);
        });

        function loadSkills() {
            $.ajax({
                url: '@Url.Action("GetSkills", "Grafic")',
                type: 'GET',
                success: function(data) {
                    drawChart(data);
                },
                error: function() {
                    alert('Veriler alınırken bir hata oluştu.');
                }
            });
        }
    </script>
</head>
<body>
    <h1>Yetenek Değeri Grafiği</h1>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>
