

<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Content/sidebar-01/images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="#">Profilim</a>
            </li>
            <li>
                <a href="#">Hakkımda</a>
            </li>
            <li>
                <a href="#">Kategoriler</a>
            </li>
            <li>
                <a href="#">Eğitim</a>
            </li>
            <li>
                <a href="/Experience/Index">Deneyimler</a>
            </li>
            <li>
                <a href="/Contact/Inbox">Gelen Mesajlar</a>
            </li>

            <li>
                <a href="#">Hizmetler</a>
            </li>
            <li>
                <a href="/Skill/SkillList">Yetenekler</a>
            </li>
            <li>
                <a href="#">Referanslar</a>
            </li>
            <li>
                <a href="#">Çalışmalar</a>
            </li>
            <li>
                <a href="#">Ayarlar</a>
            </li>
            <li>
                <a href="#">Çıkış Yap</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. 
            </p>
        </div>

    </div>
</nav>
