

<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(@ViewBag.image);"></a>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="/Profile/ProfileList">Profilim</a>
            </li>
            <li>
                <a href="/About/AboutList">Hakkımda</a>
            </li>
            <li>
                <a href="/Category/CategoryList">Kategoriler</a>
            </li>
            <li>
                <a href="/Education/EducationList">Eğitim</a>
            </li>
            <li>
                <a href="/SocialMedia/Index">Sosyal Medyalar</a>
            </li>
            <li>
                <a href="/Experience/Index">Deneyimler</a>
            </li>
            <li>
                <a href="/Contact/Inbox">Gelen Mesajlar</a>
            </li>

            <li>
                <a href="/Service/ServiceList">Hizmetler</a>
            </li>
            <li>
                <a href="/Skill/SkillList">Yetenekler</a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialList">Referanslar</a>
            </li>
            <li>
                <a href="/Work/WorkList">Çalışmalar</a>
            </li>
            <li>
                <a href="/Statistic/Index">İstatistikler</a>
            </li>
            <li>
                <a href="/Default/Index">Çıkış Yap</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. 
            </p>
        </div>

    </div>
</nav>
