@model MyPortfolio.Models.SocialMedia

@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2>Yetenek Güncelle</h2>
<br />
@using (Html.BeginForm("UpdateSocialMedia", "SocialMedia", FormMethod.Post))
{
    @Html.HiddenFor(y => y.SocialMediaID, new { @class = "form-control" })

    <div>

        <label>Sosyal Medya  Başlığı</label>
        @Html.TextBoxFor(y => y.Title, new { @class = "form-control" })

    </div>
    <div>
        <label>Sosyal Medya İkonu</label>
        @Html.TextBoxFor(k => k.Icon, new { @class = "form-control" })
    </div>
    <div>
        <label>Durum(true/false)</label>
        @Html.TextBoxFor(k => k.Status, new { @class = "form-control" })
    </div>

    <br />
    <button class="btn btn-success">Güncelle</button>


}